@import '~@angular/material/theming';

@mixin navbar-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .toolbar{
    position: relative;
    z-index: 10;
    button {
      &.active {
        color: mat-color($accent, default-contrast);
        background-color: mat-color($accent);
      }
    }
    .link {
      color: mat-color($primary, default-contrast);
    }
    .nav-button {
    margin: 0 10px 0 0;
  }
  }
}