<md-card>
    <md-card-header>
        <md-card-title>Create a task for this article</md-card-title>
    </md-card-header>
    <md-card-content>
        <md-input-container floatPlaceholder="never">
            <input mdInput placeholder="Select a user" [mdAutocomplete]="auto"
                   [formControl]="assignee">
        </md-input-container>
        
        <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
            <md-option *ngFor="let user of users" [value]="user" (onSelectionChange)="selectUser($event, user)">
                {{ user.profile.displayName }}
            </md-option>
        </md-autocomplete>
    </md-card-content>
    <md-card-actions align="end">
        <button md-button>Action1</button>
        
    </md-card-actions>
    <md-card-footer>
        Footer
    </md-card-footer>
</md-card>
